extends ../layout
block content
  h1 Valoración de Practicas en Empresas
  ul
    -for (i in lista)
      li  Empresa: #{lista[i].empresa}
      li  Alumno : #{lista[i].alumno}
      li  Fecha de Inicio : #{lista[i].inicio}
      li  Fecha de Finalizacion : #{lista[i].fin}
      li  Calificación : #{lista[i].calificacion}
      br